<div class="row listitem">
<div class="col-12">
<a hx-post='{{item.page.url}}/item-delete' hx-vals='{"delete": {{ item.id }}}' hx-target='closest div.listitem' hx-swap='outerHTML'>
  <div class="row p-3 border bg-light">
    <div class="col-2 d-flex justify-content-center align-items-center">
      <i class='fas fa-trash fa-lg'></i>
    </div>
    <div class="col-10">
      {{item.name}}
    </div>
  </div>
</a>
</div>
</div>
