{% if item %}
{{ render_partial('partials/item.html', item=item) }}
{% endif %}
<div id="newItem" class="row">
  <div class="col-12 p-3">
    <form class="form-inline" hx-post="{{page.url}}/item-create" hx-target="#newItem" hx-swap="outerHTML">
      <label for="create">
        <i>Enter name</i>
      </label>
      <input type="text" class="form-control" name="create">
    </form>
  </div>
</div>
