{% if post %}
{{ render_partial('partials/post.html', post=post) }}
{% endif %}
<div id="newPost" class="row">
  <div class="col-12 p-3">
    <div class="row">
    <form class="form-inline" hx-post="{{page.url}}/post-create" hx-target="#newPost" hx-swap="outerHTML">
      <div class="col-8">
        <label for="create">
          <i>Enter text</i>
        </label>
        <textarea class="form-control mb-2" name="create" rows="5"></textarea>
      </div>
      <div class="col-4">
        <button class="btn btn-primary mb-2">Post</button>
      </div>
    </form>
    </div>
  </div>
</div>
