<div class="row listpost">
<div class="col-12">
<a hx-post='{{post.page.url}}/post-delete' hx-vals='{"delete": {{ post.id }}}' hx-target='closest div.listpost' hx-swap='outerHTML'>
  <div class="row p-3 border bg-light">
    <div class="col-2 d-flex justify-content-center align-items-center">
      <i class='fas fa-trash fa-lg'></i>
    </div>
    <div class="col-10">
      <pre>{{post.message}}</pre>
    </div>
  </div>
</a>
</div>
</div>
