<div id=newTime class="row border bg-light">
  <a hx-get="{{ prefix }}/timestamp?form=yes" hx-trigger="click" hx-target="#newTime" hx-swap="outerHTML">
    <div class="col-12 p-3">
      <h4>
      @ {{ page.next_time() }} ({{ page.timestamp }})
      </h4>
    </div>
  </a>
</div>
