<div id=newTime class="row">
  <div class="col-12 p-3">
  <form hx-post="{{ prefix }}/timestamp" hx-target="#newTime" hx-swap="outerHTML">
    <div{% if error %} class="error"{% endif %}>
      <label for="timestamp">
        <i>Enter recurrent event using natural language, see <a href="https://github.com/kvh/recurrent" target="blank">examples</a></i>
      </label>
      <input class="form-control" type="text" name="timestamp" {% if page %}value="{{ page.timestamp }}"{% else %}placeholder="every tuesday at 19:00"{% endif %} required/>
      {% if error %}
      <div class='error-message'>{{ error | safe }}</div>
      {% endif %}
    </div>
  </form>
  </div>
</div>
