{% extends '_layout.html' %}

{% block content %}
<h1>{{ request.path }}</h1>
{% if page %}
  {{ render_partial('partials/timestamp.html', prefix=prefix, page=page) }}
{% else %}
  {{ render_partial('partials/timestamp_form.html', prefix=prefix) }}
{% endif %}

{% if page %}
  <h2>Signup</h2>
  {%for item in page.items%}
    {{ render_partial('partials/item.html', item=item) }}
  {%endfor%}
  {{ render_partial('partials/item-form.html', page=page) }}

  <h2>Discussion</h2>
  {%for post in page.posts%}
    {{ render_partial('partials/post.html', post=post) }}
  {%endfor%}
{{ render_partial('partials/post-form.html', page=page) }}
{% endif %}
{% endblock %}
